
.about_me::before{
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url('../assets/about_me.png');
    position: absolute;
    background-position: left;
    background-size: cover;
    margin-left: 10px;
    margin-top: -170px;
    color: #d5d5d55e;
}

.about_me::after{
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.723);
    position: absolute;
    opacity: 0.2;
    background-position: left;
    background-size: cover;
    margin-left: 800px;
    margin-top: -450px;
    color: #d5d5d55e;
}

/* .service_img::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    color: white;
    height: 100px;
} */
.service_img2{
    color: red;
    width: 200px;
}