.services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 80px 0;
}
.services .con{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.services .con .head h3{
    font-size: 55px;
}
.services .con .serve{
    width: 1500px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
}
.services .serve .box{
    width: 100%;
    /* background-color: #6b6b8327; */
    border-radius: 3%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(249, 249, 253);
    gap: 15px;
}
.services .serve .box:hover{
    box-shadow: rgba(77, 87, 222, 0.413) 0px 15px 30px;
}
.services .serve .box img{
    width: 80%;
    object-fit: cover;
}
.services .serve .box h4{
    font-size: 25px;
}
.services .serve .box p{
    font-size: 19px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
}